body{
    background-color:rgb(251, 233, 151) ;
    text-align: center;
    color: coral; 
}


a:hover{
    text-decoration: underline;
}


h1{
    text-align: center;
    font-family: 'oswald','sans-serif';
    font-size: 70px;
    color: rgb(232, 34, 107);
    font-weight: 900;
    
}

#p1{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Fira Sans','sans-serif';
}
#p2{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Fira Sans','sans-serif';
}